  
/* asi reseteamos todos margins y paddings que el navegador agrega por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #000000; */
}
/* De esta forma dejas establecidos los coleres que vas a usar en toda la pagina
para usarlos por ej en el color de la letra usa "color: var(--main-white);" */
a{
  text-decoration: none;
  color: #f3f707;
}

button{
  background-color: rgba(80, 163, 189, 0.5);
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Righteous', cursive;
  height: 200px;
  text-decoration: none;
  padding: 10px;
  flex-basis: 300px;
  }
button:hover{
  color: #333333;
  background-color: #0385cf;
}
footer{
  padding: 2%;
  background-color: #000000;
  color: #ffffff;
}
h1{
  font-family: 'Righteous', cursive;
  font-size: 3em;
  }
h2{
  font-family: 'Righteous', cursive;
  margin: 2%;
  }
header{
  background-color: transparent;
  background-image: url("images/bg-image-13.webp");
  background-size: cover;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  }
p, li{
  font-family: 'Roboto', sans-serif;
}
.btncontact{
  /* margin: 1%; */
  height: 50px;
}
.btn-header{
  flex-basis: 300px;
  display: flex;
}
.container{
  justify-content: space-around;
  padding: 5%;
}
.divisor{
  align-items: center;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.divisor img{
  align-self: center;
}
.divradio{
  margin: 1%;
}
.flex{
  display: flex;
  }
.inputform{
  border-radius: 10px;
  margin: 1%;
  padding:2%;
  }
.logoprinc{
  margin: 4% 5% 0% 5%;
  }
.material-icons.md-48 { font-size: 48px; }
.medio{
  width: 50%;
  padding: 2%;
}
.pcontact{
  margin: 0% 1% 1% 2%;
}
.promo{
  font-size: 3em;
}
.radio{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.selfcenter{
  align-self: center;
  text-align: center;
  color:#ffffff;
  }
.tercio{
  width: 33%;
  padding: 2%;
  }
.terminos{
  font-size: 0.75em;
  color: #928888;
}
.tit-div{
  margin: 3%;
  }
#acontact{
  display: flex;
  flex-basis: 40px;
  margin: 1%;
  }
#contacto{
  background-image: url("images/Contacto.webp");
  background-size: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  }
#formcontact{
  border-radius: 10px;
  flex-basis: 30px;
  margin: 2%
  }
#formulario{
  flex-direction: column;
}
#informatica{
  background-image: url("images/bg-image-2.jpg");
  background-color: transparent;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
#internet{
  background-image: url("images/bg-image-4.webp");
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

#pinfor{
  color: #26145e;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  padding: 5%;
  width: 80%;
}
#pseg{
  color: #26145e;
  font-family: 'Righteous', cursive;
  font-size: 1.25em;
  padding: 5%;
  width: 50%;
}
#seguridad{
  background-image:url("images/camaras-seguridad-iot.webp");
  background-size: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 600px){
  .none{
    display: none;
  }
  .mcenter{
    flex-direction: column;
  }
  .tercio{
    width: 100%;
    padding: 2%;
    }
  .medio{
    width: 100%;
  }
  #contacto{
    background: #928888;
  }
  #minfor{
    font-size: 2.5em;
  }
  #seguridad{
    background-image: url("images/network-4851120_1280.webp");
    background-size: 100%;
  } 
  #pinfor{
    color: #ffffff;
    width: 100%;
  }
  #pseg{
    color: #ffffff;
    width: 100%;
  }
}