  
/* asi reseteamos todos margins y paddings que el navegador agrega por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* De esta forma dejas establecidos los coleres que vas a usar en toda la pagina
para usarlos por ej en el color de la letra usa "color: var(--main-white);" */
:root {
    --main-white: #ffffff;
    --main-black: #333333;
    --main-blue: #e1f4f3;
    --main-gray-soft: #f8f8f8
  }
.flex{
   display: flex;
  }
  .selfcenter{
    align-self: center;
  }
  header{
    background-color: transparent;
    background-image: url("images/bg-image-13.webp");
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }
  h1{
    font-family: 'Righteous', cursive;
    margin-bottom: 5%; 
    color: #ffffff;
  }
  p{
    font-family: 'Roboto', sans-serif;
    margin: 2%;
    color: #ffffff;
  }
  button{
    background-color: rgba(80, 163, 189, 0.5);
    border: none;
    color: #ffffff;
    flex-basis: 300px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    height: 200px;
    text-decoration: none;
    padding: 10px;
    }
  button:hover{
    color: #333333;
    background-color: #54c9eb;
    }
  .botonera{
     justify-content: space-around;
    }
.logoprinc{
  margin: 4% 5% 0% 5%;
}
.material-icons.md-48 { font-size: 48px; }
/* .contacto{
  flex-basis: ;
} */